article {
    display: flex;
}
article > section > a > img {
    height:200px!important;
}
article > section > a > h2 {
    margin-left:10%!important;
}
 article > section > a  {
    margin: 20px;
    padding:10px;

}

 body {
     background-color: white;
 }
 h2 , h1 {
     color: #cea44d;
     font-family: Roboto, sans-serif;
     text-align: center;

 }

 a {
     text-decoration: none;
 }

 font {
     font-family: Roboto, sans-serif;
 }
 body {
    align-content: center;
     margin-left: 10%;


 }
.logo {
    width: 350px;
    margin-left: 25%;
}